{% block content %}
<h2>Publicaciones</h2>


{% if posts %}
    <div class="post-list">
        {% for post in posts %}
        <div class="post-item">
            <h3>
                <a href="{% url 'detalles' post.id %}">{{ post.titulo }}</a>
            </h3>
            <p class="post-detalles">{{ post.detalles }} - <em>{{ post.fechaDepublicacion }}</em></p>
            <div class="post-actions">
                <a href="{% url 'editar' post.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'eliminar' post.id %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar esta publicación?');">Eliminar</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No hay publicaciones disponibles.</p>
{% endif %}


{% endblock %}
